/* -----------------------------------------------------------------
CSS by Layse Julyanne, Design by Ângela Oliveira & Supervision by Cleber Morais- version 1.0

João Pessoa, PB - Brasil - 2015

---Summary-------------------

#GLOBAL
#NAV
#PAGES
	- DADO
	- BOLSA
	- BANCO
#MEDIA QUERIES
---------------------*/

/*------GLOBAL------------------------------------------------------*/

textarea:focus, input:focus, select:focus, button:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Roboto-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Roboto-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Roboto-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Roboto-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url('fonts/Roboto-Condensed.eot'); /* IE9 Compat Modes */
  src: url('fonts/Roboto-Condensed.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Roboto-Condensed.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Roboto-Condensed.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Roboto-Condensed.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Roboto-Condensed.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'RobotoLight';
  src: url('fonts/Roboto-Light.eot'); /* IE9 Compat Modes */
  src: url('fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Roboto-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Roboto-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Roboto-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Roboto-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'RobotoMedium';
  src: url('fonts/Roboto-Medium.eot'); /* IE9 Compat Modes */
  src: url('fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Roboto-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Roboto-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Roboto-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Roboto-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'RobotoThin';
  src: url('fonts/Roboto-Thin.eot'); /* IE9 Compat Modes */
  src: url('fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Roboto-Thin.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Roboto-Thin.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Roboto-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Roboto-Thin.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'LuckiestGuy';
  src: url('fonts/LuckiestGuy.eot'); /* IE9 Compat Modes */
  src: url('fonts/LuckiestGuy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/LuckiestGuy.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/LuckiestGuy.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/LuckiestGuy.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/LuckiestGuy.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body{
background-color: #F9DC2B !important;
}

header,nav,section,article,footer{
margin:0px; 
padding:8px;
}

footer{
max-width:635px;
margin: 0 auto;
}

nav ul li a{
color: #E85B23;
text-decoration: none;
padding: 5px;
}

nav ul li a:hover{
color: #698495;
text-decoration: none;
}

span{
font-size: 85pt;
}

nav, #involucro, #valores, #grafico, .players{
padding-left:0px !important;
padding-right:0px !important;
}
/*----------------------*/

#involucro{
margin: 0 auto;
font-family: 'RobotoLight', sans-serif;
color: #1C252E;
}


/*-----NAV------------------------------------------------------*/

#menu{
margin: -8px 0px 30px 0px;
height: 85px;
}

#menu a{
color: #ffffff;
}

.btnNav.active {
    background-color: #FF9C30;
}

.btnNav{
padding:0;
margin:0;
list-style:none; 
float:left; 
font-size:27pt;
height: 65px;
}

.item{
position:relative; 
float:left; 
border-right:2px solid #FF9C30;
text-align:center; 
font-size: 24pt;
background-color:#F1B136;
padding: 8px 0px 0px 0px;
width: 33%;
height: 61px;
}

#bancoNav{
margin-right:0px;
border-right:0px;
}
/*----------------------*/

/*-----PAGES------------------------------------------------------*/

/*Dado*/

.btnDado{
font-family: 'RobotoMedium', sans-serif;
color: #ffffff;
font-size: 50px;
background: #7C57E4;
padding: 20px 80px 30px 80px;
margin: 0 0 33px 0;
text-decoration: none;
border: 0;
border-radius: 78px;
}


.resultDado{
font-size: 100pt;
color:#D85858;
}

/*Bolsa*/

#bolsa{

margin:0px auto 0px auto;
}

.btnRandom {
font-family: 'RobotoMedium', sans-serif;
color: #ffffff;
font-size: 50px;
background: #18B5BE;
margin-bottom: 1em;
padding: 20px 80px 30px 80px;
text-decoration: none;
border: 0;
}

#valorVariacao{
font-family: 'LuckiestGuy', cursive;
color: #0B7A96;
max-width: 381px;
font-size:85pt;
text-align:center;
margin: 0px auto 0px auto;
}

.valor{
margin-left:92px;
}

.ganho{
background:url("images/ganho-bolsa.png") no-repeat;
}

.perda{
background:url("images/perda-bolsa.png") no-repeat;
}

.equilibrado{
background:url("images/equilibrio.png") no-repeat;
}

/*Banco*/

#banco{

}

#grafico{

}

#chart-area{
width: 80% !important;
height: auto !important;
}

#valores{
height:131px;
margin: 20px 0 16px 0;
}

.valorStyle{
margin: 0 10px 10px 5%;
padding: 3px 5px 2px 5px;
height:50px;
font-size: 25pt;
text-align: center;
color:#fff;
font-family: 'RobotoMedium';
}

/*Blue*/
#valor1, #lucro1{
background-color: #18B5BE;
}

/*Pink*/
#valor2, #lucro2{
background-color: #C63F84;
}

/*Green*/
#valor3, #lucro3{
background-color: #27B647;
}

/*Red*/
#valor4, #lucro4{
background-color: #F13136;
}

/*Purple*/
#valor5, #lucro5{
background-color: #7C57E4;
}

/*Orange*/
#valor6, #lucro6{
background-color: #F1B136;
margin-right: 0px;
}

#scroll{
text-align:center;
font-size:20pt;
color: #FF9C30;
margin: 0px 0px 30px 0px;
}

#scroll2{
text-align:center;
font-size:20pt;
margin-top: -22px;
margin-bottom: 5px;
}

.btnContas{
font-family: 'Roboto', sans-serif;
color: #ffffff;
font-size: 25px;
background: #3498db;
padding: 7px 123px 8px 128px;
margin-bottom: 10px;
text-decoration: none;
border: 0;
}

.user{
height:85px;
float:left;
margin-bottom:10px;
padding: 10px 0 0px 0px;
font-size: 30pt;
background-color: #ccc;
}

.playUser{
width:300px;
}

.playLucro{
width:60%; /*218px*/
margin: 2px 0 0 0;
padding-right: 5px;
float:float;
text-align:center;
font-size:18pt;
}

.playLucro p{
margin:0;
}

.botao{
height: 87px;
font-size:20pt;
color:#fff;
float: left;
}

.btn-green{
background-color: #46B136;
}

.btn-red{
background-color: #D72C30;
}

.players{
height:100px;
margin-bottom:0px;
color:#fff;
font-family: 'RobotoThin';
}

/*-----MEDIA QUERIES------------------------------------------------------*/

/*
Pra dispositivos que tem uma largura mínima de 260 pixels.
*/
@media screen and (max-width: 370px) {
}

/*
Pra dispositivos que tem uma largura mínima de 368 pixels.
*/
@media screen and (min-width: 371px) {
}

/*
Pra dispositivos que tem uma largura mínima de 500 pixels.
*/
@media screen and (min-width: 500px) {
}

/*
Pra dispositivos que tem uma largura mínima de 768 pixels. Tablets, por exemplo.
*/
@media screen and (min-width: 768px) {
 }
 
/* 
 Com uma largura mínima de 992 pixels. Monitores por exemplo.
*/
@media screen and (min-width: 992px) {
 }
 
/* 
 Dispositivos com largura mínima de 1200 pixels. Por exemplo TVs.
*/
@media screen and (min-width: 1200px) {
}