/* -----------------------------------------------------------------
CSS by Layse Julyanne, Design by Ângela Oliveira & Supervision by Cleber Morais- version 1.0

João Pessoa, PB - Brasil - 2015

--------------------------------------------------------------------*/

@font-face {
  font-family: 'PoiretOne';
  src: url('PoiretOne-Regular.eot'); /* IE9 Compat Modes */
  src: url('PoiretOne-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('PoiretOne-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('PoiretOne-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('PoiretOne-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('PoiretOne-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Regular.eot'); /* IE9 Compat Modes */
  src: url('Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Roboto-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('Roboto-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('Roboto-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Roboto-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'LuckiestGuy';
  src: url('LuckiestGuy.eot'); /* IE9 Compat Modes */
  src: url('LuckiestGuy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('LuckiestGuy.woff2') format('woff2'), /* Super Modern Browsers */
       url('LuckiestGuy.woff') format('woff'), /* Pretty Modern Browsers */
       url('LuckiestGuy.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('LuckiestGuy.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body{
background-color:#c5c5c5;
background-image: url('retina_wood.png');
font-family: 'PoiretOne', cursive;
color: #1C252E;
margin:0;
}

header,nav,section,article,footer{
margin:0px; 
padding:8px;
}

footer{
max-width:635px;
margin: 0 auto;
}

nav ul li a{
color: #E85B23;
text-decoration: none;
padding: 5px;
}

nav ul li a:hover{
color: #698495;
text-decoration: none;
}

span{
font-size: 85pt;
}

#involucro{
max-width:361px; /*720px*/
margin: 0;
background-color: #FFDD00;
}

/*header*/

#logo{
max-width:310px;
margin: 0 auto;
}

#imglogo{
height: 300px;
}


/*nav*/

#menu{
max-width:670px;
margin: -7px -7px 15px -7px;
height: 85px;
}

#menu a{
color: #ffffff;
}

a:active .btnNav{
background-color:#FF9C30;
}

.btnNav{
padding:0;
margin:0;
list-style:none; 
float:left; 
font-size:27pt;
height: 65px;
}

.item{
margin-right:16px;
position:relative; 
float:left; 
border-right:1px solid #c0c0c0;
text-align:center; 
background-color:#ccc;
padding: 5px 0px 0px 0px;
width: 105px;
height: 61px;
}

#bancoNav{
margin-right:0px;
}


/*-----PAGES-----*/

/*Dado*/

.btnDado{
font-family: 'Roboto', sans-serif;
color: #ffffff;
font-size: 50px;
background: #7661A4;
padding: 20px 80px 30px 80px;
margin: -13px 0 33px 8px;
text-decoration: none;
border: 0;
border-radius: 78px;
}

.resultDado{
font-size: 100pt;
color:#D85858;
}

/*Bolsa*/

#bolsa{
max-width:295px;
margin:0px auto 0px auto;
}

.btnRandom {
font-family: 'Roboto', sans-serif;
color: #ffffff;
font-size: 50px;
background: #3498db;
padding: 20px 80px 30px 80px;
margin-top: 20px;
text-decoration: none;
border: 0;
}


#valorVariacao{
font-family: 'LuckiestGuy', cursive;
color: #0B7A96;
max-width: 381px;
font-size:40pt;
margin: 0px auto;
text-align:center;
margin: 0 auto 0px auto;
}

.valor{
margin-left:92px;
}

.ganho{
background:url("ganho-bolsa.png") no-repeat;
}

.perda{
background:url("perda-bolsa.png") no-repeat;
}

.equilibrado{
background:url("equilibrio.png") no-repeat;
}

/*Banco*/

#banco{
margin-left:-7px;
margin-right: -10px;
}

#grafico{
margin: -35px 0 10px 0;
}

#chart-area{
margin-left: 30px;
}

#valores{
height:131px;
margin: 20px 0 19px 0;
}

.valorStyle{
width: 77px;
float: left;
margin: 0 16px 10px 17px;
padding: 8px 5px 2px 5px;
height:50px;
font-size: 27pt;
text-align: center;
color:#fff;
}

#valor1{
background-color: #00A9B9;
}

#valor2{
background-color: #B12273;
}

#valor3{
background-color: #84B259;
}

#valor4{
background-color: #BD3231;
}

#valor5{
background-color: #563E89;
}

#valor6{
background-color: #DD962A;
margin-right: 0px;
}

.btnContas{
font-family: 'Roboto', sans-serif;
color: #ffffff;
font-size: 25px;
background: #3498db;
padding: 7px 123px 8px 128px;
margin-bottom: 10px;
text-decoration: none;
border: 0;
}

.user{
height:75px;
float:left;
margin-bottom:10px;
padding: 10px 0 0px 0px;
font-size: 30pt;
background-color: #ccc;
}

.playUser{
width:300px;
}

.playLucro{
width:218px;
margin: 2px 0 0 0;
padding-right: 5px;
float:float;
text-align:center;
font-size:20pt;
}

.playLucro p{
margin:0;
}

.botao{
height: 87px;
width: 65px;
font-size:20pt;
color:#fff;
background-color: #3075B0;
float: left;
}


.players{
height:100px;
margin-bottom:0px;
color:#fff;
}


#user1{
background-color: #00A9B9;
}

#lucro1{
background-color: #00B7B7;
}

#user2{
background-color: #B12273;
}

#lucro2{
background-color: #BF4289;
}

#user3{
background-color: #84B259;
}

#lucro3{
background-color: #B0D68C;
}

#user4{
background-color: #BD3231;
}

#lucro4{
background-color: #D85858;
}

#user5{
background-color: #563E89;
}

#lucro5{
background-color: #7661A4;
}

#user6{
background-color: #DD962A;
}

#lucro6{
background-color: #EFB152;
}